@import '../../scss/vars';
@media (max-width: $mobile-mode-size)
{
  .screen {
    top: $y-position-mobile+200 !important;
    left: $x-position-mobile+70 !important;
  }
}
.screen {
  position: absolute;
  z-index:15;
  height: 210px;
  width: 255px;
  border-radius: 10px;
  top: $y-position+200;
  left: $x-position+70;
  background-color: #E1E3E2;
  border: 2px solid black;
}
