@import '../../scss/vars';

@media (max-width: $mobile-mode-size) {
  .big-area {
    left: $x-position-mobile+0 !important;
    top: $y-position-mobile+0 !important;
    height: 675px !important;
  }
  .top-area-top {
    width: 190px !important;
  }
}

.big-area {
  left: $x-position+0;
  top: $y-position+0;
  position: absolute;
  display: inline-block;
  height: 640px;
  width: 445px;
  background-color: $pokedex-color;
  border-radius: 15px;
  z-index:-2;
  border: 2px solid black;
}

.top-area-top {
  top: -2px;
  left: 253px;
  position: absolute;
  display: inline-block;
  width: 194px;
  z-index:2;
  position: absolute;
  display: inline-block;
  height: 64px;
  background-color: $pokedex-color;
  border-top-right-radius: 15px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-right: 2px solid black;
}

.top-area-bottom {
  top: 49px;
  left: -2px;
  position: absolute;
  display: inline-block;
  width: 196px;
  z-index:3;
  right: 0;
  position: absolute;
  display: inline-block;
  height: 72px;
  background-color: $pokedex-color;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.top-area-triangle {
  left: 223px;
  top: 60px;
  position: absolute;
  z-index:4;
  display: inline-block;
  transform: skew(315deg);
  height: 60px;
  width: 29px;
  background-color: transparent;
  border-left: 2px solid black;
}

