<!--User input output components-->

<app-main-screen ></app-main-screen>
<app-pokedex-log ></app-pokedex-log>
<app-user-input></app-user-input>

<!--Layout noninteractive components-->

<!--Pokedex Body Layout-->
<div class="big-area">
  <div class="top-area-top"></div>
  <div class="top-area-bottom"></div>
  <div class="top-area-triangle"></div>
</div>

<div class="cover">
  <div class="cover-top"></div>
  <div class="cover-top-rec"></div>
  <div class="cover-bottom-f"></div>
  <div class="cover-bottom-s"></div>
</div>

<!--Animated LED's-->
<div class="circle camera l-blue"
[ngStyle]="{'animation': blinkPokemonCard ? 'flashBigLight 1s linear 1' : 'null' }"></div>
<div class="circle led l-red"
[ngStyle]="{'animation': blinkPokemonList ? 'flashRedLed 1s linear 1' : 'null' }"></div>
<div class="circle led l-green"
[ngStyle]="{'animation': blinkPokemonList ? 'flashGreenLed 1s linear 1' : 'null' }"></div>
<div class="circle led l-yellow"
[ngStyle]="{'animation': blinkPokemonList ? 'flashYellowLed 1s linear 1' : 'null' }"></div>

<!--Hinge-->
<div class="hinge-pokedex"></div>
<div class="hinge-cover top"></div>
<div class="hinge-cover bottom"></div>

<!--Miscellaneous-->
<div class="small-rectangle r-red"></div>
<div class="small-rectangle r-blue"></div>
<div class="small-rectangle r-f-black"></div>
<div class="small-rectangle r-s-black"></div>
<div class="big-rectangle b-right-r"></div>
<div class="big-rectangle b-left-r"></div>
<div class="big-white-rectangle w-r-left"></div>
<div class="big-white-rectangle w-r-right"></div>

<div class="yellow-circle"></div>
<div class="screen-place"></div>
<div class="screen-led s-l-right"></div>
<div class="screen-led s-l-left"></div>
<div class="screen-led b-led"></div>

<!--Screen Place-->
<TABLE id="screen-table">
  <TBODY>
    <TR>
      <TD><div class="screen-lines"></div></TD>
    </TR>
    <TR>
      <TD><div class="screen-lines"></div></TD>
    </TR>
    <TR>
      <TD><div class="screen-lines"></div></TD>
    </TR>
    <TR>
      <TD><div class="screen-lines"></div></TD>
    </TR>
  </TBODY>
</TABLE>

