@import '../../scss/vars';

.teste {
  left: $x-position+100;
  top: $y-position+0;
  position: fixed;
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: #555;
}

.big-area {
  left: $x-position+0;
  top: $y-position+0;
  position: fixed;
  display: inline-block;
  height: 640px;
  width: 445px;
  background-color: #DF1E31;
  border-radius: 15px;
  z-index:-2;
  border: 2px solid black;
}
.top-area-top {
  top: $y-position+0;
  left: $x-position+253;
  position: fixed;
  display: inline-block;
  width: 194px;
  z-index:2;
  position: fixed;
  display: inline-block;
  height: 64px;
  background-color: #DF1E31;
  border-top-right-radius: 15px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-right: 2px solid black;

}
.top-area-bottom {
  top: $y-position+50;
  left: $x-position+0;
  position: fixed;
  display: inline-block;
  width: 195px;
  z-index:3;
  right: 0;
  position: fixed;
  display: inline-block;
  height: 72px;
  background-color: #DF1E31;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}
.top-area-triangle {
  left: $x-position+223px;
  top: $y-position+62px;
  position: fixed;
  z-index:4;
  display: inline-block;
  transform: skew(315deg);
  height: 60px;
  width: 29px;
  background-color: transparent;
  border-left: 2px solid black;
}
.cover-top-rec {
  left: $x-position+477;
  top: $y-position+67;
  transform:skew(45deg);
  position: fixed;
  display: inline-block;
  height: 55px;
  width: 192px;
  background-color: #DF1E31;
  z-index:10;
  border-top: 2px solid black;
  border-right: 2px solid black;
}
.cover-top {
  left: $x-position+445;
  top: $y-position+67;
  position: fixed;
  display: inline-block;
  height: 55px;
  width: 192px;
  background-color: #DF1E31;
  z-index:10;
  border-top: 2px solid black;
  border-left: 2px solid black;
}
.cover-bottom-f {
  left: $x-position+445;
  top: $y-position+122;
  position: fixed;
  display: inline-block;
  height: 517px;
  width: 250px;
  background-color: #DF1E31;
  z-index:10;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-bottom-left-radius: 15px;
}
.cover-bottom-s {
  left: $x-position+695;
  top: $y-position+122;
  position: fixed;
  display: inline-block;
  height: 517px;
  width: 195px;
  background-color: #DF1E31;
  z-index:10;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-bottom-right-radius: 15px;
}

