@import '../../scss/vars';
@media (max-width: $mobile-mode-size)
{
  #returnButtom {
    top: $y-position-mobile+490 !important;
    left: $x-position-mobile+23 !important;
  }
  #enterButtom {
    top: $y-position-mobile+520 !important;
    left: $x-position-mobile+98 !important;
  }
}
 #returnButtom {
  top: $y-position+490;
  left: $x-position+23;
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color:  $std-black;
  font-size: 1.5em;
  border: 0px;
  color:white;
  z-index:10;
  outline: none;
}
#returnButtom:active {
  background-color: $std-black-active;
}
#enterButtom {
  top: $y-position+520;
  left: $x-position+98;
  position: absolute;
  width: 112px;
  height: 70px;
  background: $green-btn;
  z-index:10;
  border-radius: 10px;
  border: 0;
  font-size: 2em;
  color:rgb(40, 97, 32);
  outline: none;
}
#enterButtom:active {
  background-color: $green-btn-active;
}
