@import '../../scss/vars';
 #returnButtom {
  top: $y-position+490;
  left: $x-position+23;
  position: fixed;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color:  $std-black;
  font-size: 1.5em;
  border: 0px;
  color:white;
  z-index:10;
}
#returnButtom:active {
  background-color: $std-black-active;
}
#enterButtom {
  top: $y-position+520;
  left: $x-position+98;
  position: fixed;
  width: 112px;
  height: 70px;
  background: $green-btn;
  z-index:10;
  border-radius: 10px;
  border: 0;
  font-size: 2em;
  color:rgb(40, 97, 32);
}
#enterButtom:active {
  background-color: $green-btn-active;
}
