$x-position:50px;
$y-position:50px;
$x-position-mobile:5px;
$y-position-mobile:5px;
$x-mobile-offset:-445px;
$y-mobile-offset:540px;
$mobile-mode-size:1000px;
$gradient-color-one:rgb(235, 162, 162);
$gradient-color-two:rgb(126, 126, 231);
$gradient-background:rgb(250, 246, 247);
$std-black: #052E2A;
$green-btn:rgb(71, 146, 61);
$blue-keyboard: #47A5DB;
$white-btns:#E1E3E2;
$red-rect:red;
$blue-rect:blue;
$pokedex-color:#DF1E31;
$pokedex-dark-color:rgb(180, 23, 39);
$green-btn-active:rgb(0, 97, 0);
$std-black-active:rgb(3, 26, 23);
