/* You can add global styles to this file, and also import other style files */
@import './vars';
@media (max-width: $mobile-mode-size)
{
  html {
    background-size: $mobile-mode-size 1400px !important;
    max-height: 1400px !important;
    max-width:$mobile-mode-size !important;
  }
}
html {
  max-height:1000px;
  max-width:1600px;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background:$gradient-background;
  background-repeat:no-repeat;
  background: -webkit-linear-gradient( to left top, $gradient-color-one, $gradient-color-two);
  background: -moz-linear-gradient( to left top, $gradient-color-one, $gradient-color-two);
  background: -ms-linear-gradient( to left top, $gradient-color-one, $gradient-color-two);
  background: -o-linear-gradient( to left top, $gradient-color-one, $gradient-color-two);
  background: linear-gradient( to left top, $gradient-color-one, $gradient-color-two);
}
